<launch>
  <arg name="files_path" default="/media/sysu/Other/Dataset/Slam/malaga/multi_robot" />
  <arg name="bag_path" default="/media/sysu/Other/Dataset/Slam/malaga/multi_robot" />
  <arg name="left_topic" default="image_0" />
  <arg name="right_topic" default="image_1" />
<!-- 
 4 5 6 7 8 9
 -->
  <group ns="node">
    <arg name="num" value="2" /> 
    <node name="stereo_dso" pkg="cmd_stereo_dso" type="dso_dataset_ros" output="screen" required="true">
      <!-- 需要修改 num 和 name -->
      <param name="files" value="$(arg files_path)/$(arg num)" />
      <param name="bag" value="$(arg bag_path)/$(arg num)/output_filter.bag"/>
      <param name="calib" value="$(find cmd_stereo_dso)/calib/malaga/cam.txt" />
      <param name="topic0" value="$(arg left_topic)" />
      <param name="topic1" value="$(arg right_topic)" />
      <param name="preset" value="0" />
      <param name="mode" value="1" />
      <param name="quiet" value="1" />
      <param name="nomt" value="1" />
    </node>
  </group>
</launch>
